@(players:List[Player])
    @main("Home"){
        <div class="page-header pager">
        <h1>Player List</h1>
        </div>
        <div class="container">
        <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Class</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(player <- players){
                <tr>
                    <td>@player.name</td>
                    <td>@player.level</td>
                    <td>@player.className</td>
                    <td><button type="button" class="close"><a href="@routes.PlayerList.delete(player.name)">&times;</a></button></td>
                </tr>
            }
            </tbody>
        </table>
        </div>
        </div>
}
