@(players:List[Player])
<!DOCTYPE html>
<html>
    <head>
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="page-header pager">
        <h1>Player List</h1>
        </div>
        <div class="container">
        <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
            @for(player <- players){
                <tr>
                    <td>@player.name</td>
                    <td>@player.level</td>
                    <td>@player.className</td>
                </tr>
            }
            </tbody>
        </table>
        </div>
        </div>
    </body>
</html>
