@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
    </head>
    <body>
        @navbar()
        @content
        @if(flash.containsKey("success")){
            <div class="alert alert-success">
                @flash.get("success")
            </div>
        }
        @if(flash.containsKey("error")){
            <div class="alert alert-danger">
                @flash.get("error")
            </div>
        }
        
    </body>
</html>
